<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbteam.hislite.payment.pay.mapper.PaymentMerchantMapper">
  <resultMap id="BaseResultMap" type="com.nbteam.hislite.payment.api.pay.dto.PaymentMerchant">
    <id column="inside_merchant_id" jdbcType="BIGINT" property="insideMerchantId" />
    <result column="inside_merchant_name" jdbcType="VARCHAR" property="insideMerchantName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="pay_channel" jdbcType="VARCHAR" property="payChannel" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="service_merchant_id" jdbcType="VARCHAR" property="serviceMerchantId" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="service_app_id" jdbcType="VARCHAR" property="serviceAppId" />
    <result column="merchant_account" jdbcType="VARCHAR" property="merchantAccount" />
    <result column="payment_key" jdbcType="VARCHAR" property="paymentKey" />
    <result column="med_payment_key" jdbcType="VARCHAR" property="medPaymentKey" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="public_key" jdbcType="VARCHAR" property="publicKey" />
    <result column="private_key" jdbcType="VARCHAR" property="privateKey" />
    <result column="med_org_no" jdbcType="VARCHAR" property="medOrgNo" />
    <result column="merchant_version" jdbcType="VARCHAR" property="merchantVersion" />
    <result column="switchs" jdbcType="CHAR" property="switchs" />
    <result column="component_appid" jdbcType="VARCHAR" property="componentAppid" />
    <result column="authorizer_access_token" jdbcType="VARCHAR" property="authorizerAccessToken" />
    <result column="provider_id" jdbcType="VARCHAR" property="providerId" />
    <result column="ext_fields" jdbcType="VARCHAR" property="extFields" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    inside_merchant_id, inside_merchant_name, status, pay_channel, merchant_id, service_merchant_id, 
    merchant_name, app_id, service_app_id, merchant_account, payment_key, med_payment_key, 
    app_secret, public_key, private_key, med_org_no, merchant_version, switchs, component_appid, 
    authorizer_access_token, provider_id, ext_fields, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_payment_merchant
    where inside_merchant_id = #{insideMerchantId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_payment_merchant
    where inside_merchant_id = #{insideMerchantId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.nbteam.hislite.payment.api.pay.dto.PaymentMerchant">
    insert into t_payment_merchant (inside_merchant_id, inside_merchant_name, 
      status, pay_channel, merchant_id, 
      service_merchant_id, merchant_name, app_id, 
      service_app_id, merchant_account, payment_key, 
      med_payment_key, app_secret, public_key, 
      private_key, med_org_no, merchant_version, 
      switchs, component_appid, authorizer_access_token, 
      provider_id, ext_fields, create_time, 
      update_time)
    values (#{insideMerchantId,jdbcType=BIGINT}, #{insideMerchantName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{payChannel,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, 
      #{serviceMerchantId,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{serviceAppId,jdbcType=VARCHAR}, #{merchantAccount,jdbcType=VARCHAR}, #{paymentKey,jdbcType=VARCHAR}, 
      #{medPaymentKey,jdbcType=VARCHAR}, #{appSecret,jdbcType=VARCHAR}, #{publicKey,jdbcType=VARCHAR}, 
      #{privateKey,jdbcType=VARCHAR}, #{medOrgNo,jdbcType=VARCHAR}, #{merchantVersion,jdbcType=VARCHAR}, 
      #{switchs,jdbcType=CHAR}, #{componentAppid,jdbcType=VARCHAR}, #{authorizerAccessToken,jdbcType=VARCHAR}, 
      #{providerId,jdbcType=VARCHAR}, #{extFields,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nbteam.hislite.payment.api.pay.dto.PaymentMerchant">
    insert into t_payment_merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="insideMerchantId != null">
        inside_merchant_id,
      </if>
      <if test="insideMerchantName != null">
        inside_merchant_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="payChannel != null">
        pay_channel,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="serviceMerchantId != null">
        service_merchant_id,
      </if>
      <if test="merchantName != null">
        merchant_name,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="serviceAppId != null">
        service_app_id,
      </if>
      <if test="merchantAccount != null">
        merchant_account,
      </if>
      <if test="paymentKey != null">
        payment_key,
      </if>
      <if test="medPaymentKey != null">
        med_payment_key,
      </if>
      <if test="appSecret != null">
        app_secret,
      </if>
      <if test="publicKey != null">
        public_key,
      </if>
      <if test="privateKey != null">
        private_key,
      </if>
      <if test="medOrgNo != null">
        med_org_no,
      </if>
      <if test="merchantVersion != null">
        merchant_version,
      </if>
      <if test="switchs != null">
        switchs,
      </if>
      <if test="componentAppid != null">
        component_appid,
      </if>
      <if test="authorizerAccessToken != null">
        authorizer_access_token,
      </if>
      <if test="providerId != null">
        provider_id,
      </if>
      <if test="extFields != null">
        ext_fields,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="insideMerchantId != null">
        #{insideMerchantId,jdbcType=BIGINT},
      </if>
      <if test="insideMerchantName != null">
        #{insideMerchantName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="payChannel != null">
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="serviceMerchantId != null">
        #{serviceMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="serviceAppId != null">
        #{serviceAppId,jdbcType=VARCHAR},
      </if>
      <if test="merchantAccount != null">
        #{merchantAccount,jdbcType=VARCHAR},
      </if>
      <if test="paymentKey != null">
        #{paymentKey,jdbcType=VARCHAR},
      </if>
      <if test="medPaymentKey != null">
        #{medPaymentKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null">
        #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null">
        #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="medOrgNo != null">
        #{medOrgNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantVersion != null">
        #{merchantVersion,jdbcType=VARCHAR},
      </if>
      <if test="switchs != null">
        #{switchs,jdbcType=CHAR},
      </if>
      <if test="componentAppid != null">
        #{componentAppid,jdbcType=VARCHAR},
      </if>
      <if test="authorizerAccessToken != null">
        #{authorizerAccessToken,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null">
        #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="extFields != null">
        #{extFields,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nbteam.hislite.payment.api.pay.dto.PaymentMerchant">
    update t_payment_merchant
    <set>
      <if test="insideMerchantName != null">
        inside_merchant_name = #{insideMerchantName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="payChannel != null">
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="serviceMerchantId != null">
        service_merchant_id = #{serviceMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="serviceAppId != null">
        service_app_id = #{serviceAppId,jdbcType=VARCHAR},
      </if>
      <if test="merchantAccount != null">
        merchant_account = #{merchantAccount,jdbcType=VARCHAR},
      </if>
      <if test="paymentKey != null">
        payment_key = #{paymentKey,jdbcType=VARCHAR},
      </if>
      <if test="medPaymentKey != null">
        med_payment_key = #{medPaymentKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null">
        public_key = #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null">
        private_key = #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="medOrgNo != null">
        med_org_no = #{medOrgNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantVersion != null">
        merchant_version = #{merchantVersion,jdbcType=VARCHAR},
      </if>
      <if test="switchs != null">
        switchs = #{switchs,jdbcType=CHAR},
      </if>
      <if test="componentAppid != null">
        component_appid = #{componentAppid,jdbcType=VARCHAR},
      </if>
      <if test="authorizerAccessToken != null">
        authorizer_access_token = #{authorizerAccessToken,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null">
        provider_id = #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="extFields != null">
        ext_fields = #{extFields,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where inside_merchant_id = #{insideMerchantId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nbteam.hislite.payment.api.pay.dto.PaymentMerchant">
    update t_payment_merchant
    set inside_merchant_name = #{insideMerchantName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=VARCHAR},
      service_merchant_id = #{serviceMerchantId,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      service_app_id = #{serviceAppId,jdbcType=VARCHAR},
      merchant_account = #{merchantAccount,jdbcType=VARCHAR},
      payment_key = #{paymentKey,jdbcType=VARCHAR},
      med_payment_key = #{medPaymentKey,jdbcType=VARCHAR},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      public_key = #{publicKey,jdbcType=VARCHAR},
      private_key = #{privateKey,jdbcType=VARCHAR},
      med_org_no = #{medOrgNo,jdbcType=VARCHAR},
      merchant_version = #{merchantVersion,jdbcType=VARCHAR},
      switchs = #{switchs,jdbcType=CHAR},
      component_appid = #{componentAppid,jdbcType=VARCHAR},
      authorizer_access_token = #{authorizerAccessToken,jdbcType=VARCHAR},
      provider_id = #{providerId,jdbcType=VARCHAR},
      ext_fields = #{extFields,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where inside_merchant_id = #{insideMerchantId,jdbcType=BIGINT}
  </update>
  <select id="getPaymentMerchantByMode" resultMap="BaseResultMap">
    select pm.*
    from t_payment_merchant pm, t_payment_merchant_mode_rela pmmr
    where pmmr.inside_merchant_id = pm.inside_merchant_id
    and pmmr.his_id = #{hisId,jdbcType=BIGINT}
    and pmmr.biz_channel = #{bizChannel,jdbcType=VARCHAR}
    and pmmr.biz_type = #{bizType,jdbcType=VARCHAR}
    and pmmr.pay_mode = #{payMode,jdbcType=VARCHAR}
    and pmmr.status = 1
  </select>
	
  <select id="getBizOrderDetail" resultMap="BaseResultMap">
    select pm.*
    from t_payment_merchant pm, t_payment_merchant_mode_rela pmmr
    where pmmr.inside_merchant_id = pm.inside_merchant_id
    and pmmr.his_id = #{hisId,jdbcType=BIGINT}
    and pmmr.biz_channel = #{bizChannel,jdbcType=VARCHAR}
    and pmmr.biz_type = #{bizType,jdbcType=VARCHAR}
    and pmmr.pay_mode = #{payMode,jdbcType=VARCHAR}
    and pmmr.status = 1
  </select>
	
  
</mapper>